
									<section id="animegrid">
										<main class="container">
											<h1 class="lang" key="chottolan3"> About Us</h1>
										</main>
									</section>
									<main id="youtubemain">
										<!-- Main -->
										<main id="main-wrapper">
											<main id="main">
												<main id="content">
													<!-- Post -->
													<article>
														<main id="chottoitsanimecontainer">
															<span class="image">
																<img src="\dmubanner2.png"></img>
															</span>
														</main>
														<h3>De Montfort University | A Modern University</h3>
														<p class="lang" key="chottolan35">The £136 million reimagining of the campus at De Montfort University Leicester (DMU) has created the modern, inspiring environment students deserve and shows our confidence in what we do and what we are.
											That confidence is further strengthened by achieving the highest possible Gold standard in the 2017 Teaching Excellence Framework (TEF), putting DMU in the top third of universities. This is the only Government-run measure of teaching quality in higher education and the award underlines the outstanding learning and teaching on offer at DMU.
											We were named the fifth best university for overall teaching excellence, and the best university in the country for helping students find highly skilled work or further study, in a league table produced by higher education experts Wonkhe based on TEF analysis. Some 96.7 per cent of DMU graduates from summer 2016 are in work or further study, according to the Destinations of Leavers from Higher Education 2015-16 report.
											We are immensely proud of our brilliant home city and our part in its great history, exciting transformation and future success. Diverse and multicultural, but with its own confident character, Leicester has been named one of the best UK cities in which to live and work.</p>
                     <img src="\about1.png"></img>

														<h3>A global university</h3>
														<p class="lang" key="chottolan35">
										DMU considers itself to be a truly global university and our signature #DMUglobal programme offers all students an international experience that enriches studies, broadens cultural horizons and develops key skills valued by employers.
										#DMUglobal started 2018 by taking hundreds of students to New York and a summit at United Nations headquarters to launch DMU’s involvement in the Together campaign, offering worldwide support to refugees. We were asked by the UN to take the lead.
										DMU has been named as one of the 150 best young universities in the world by the influential Times Higher Education magazine and is in the Top 10 of most popular universities in the UK for home and EU students, as measured by UCAS acceptances in 2017.</p>

															<h3>Build, Define and Concur</h3>
															<p class="lang" key="chottolan35">#DMUworks is the university’s ambitious programme to ensure our students are work-ready in an increasingly competitive and global jobs marketplace.
											As well as ensuring our students gain the necessary technical skills through their courses, our aim is to develop graduates who are professional, adaptable and business-aware. We want DMU students to have the skills and qualities that today’s employers need.
										</p>
										<p>Our equality and diversity charter DMUfreedom is our commitment to a DMU where everyone is free to be, to inspire and to succeed, and Universal Design for Learning aims to provide an equal learning experience for every DMU student.
										By working alongside Leicester City Council and other organisations, #DMUlocal offers volunteering in a wide range of exciting projects that helps communities and have a transformative impact.</p>
														</article>
													</main>
												</main>
											</main>
										</main>
												<section id="animegrid">
													<main class="container">
															<h1 class="lang" key="chottolan3">Get In Touch</h1>
													</main>
												</section>
												<main id="youtubemain">
													<!-- Main -->
													<main id="main-wrapper">
												<main id="map"></main>
												<form name="myForm" <form action="mailto:askus@dmu.ac.uk" onsubmit="return validateForm()" method="post" enctype="text/plain">
													<label for="fname">First Name</label>
													<input type="text" id="fname" name="firstname" placeholder="Your name..">
														<label for="lname">Last Name</label>
														<input type="text" id="lname" name="lastname" placeholder="Your last name..">
															<label for="country">Country</label>
															<select id="country" name="country">
																<option value="london">london</option>
																<option value="jamaica">Jamaica</option>
																<option value="usa">USA</option>
																<option value="japan">Japan</option>
																<option value="china">China</option>
															</select>
															<label for="subject">Subject</label>
															<textarea id="subject" name="subject" placeholder="Write something.."></textarea>
															<input type="submit" value="Submit">
															</form>
														</main>
													</main>
<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCCB90dxxh9Vnee_8YYgPTzGo9wyqF8Ai0&callback=initMap"></script>
