<section id="animegrid">
<main class="container">
<h1 class="lang" key="chottolan3"> Societies</h1>
</main>
</section>
<main id="youtubemain">
<!-- Main -->
<main id="main-wrapper">
<main id="main">
  <main id="content">
    <!-- Post -->
    <article>
      <main id="chottoitsanimecontainer">
        <span class="image">
          <img src="\socibanner.png"></img>
        </span>
      </main>
      <h1>De Montfort University | The Society Begins</h1>
      <p class="lang" key="chottolan35"><h3>Create a lifetime of memories</h3>
      Discover exciting new hobbies, unleash hidden talents, find a new passion or indulge in what you already love. Being part of a society welcomes you in to a family of like minded individuals and is a really great and exciting place to make new friends.
      Not only do societies offer a unique platform to make friends, learn new things and have fun, being part of a society means you could win awards, attend conferences, ceremonies and gain qualifications.  All the experience you will gain is a great addition to boost your CV. Ask any society member what the best part of their society is and as well as society activities the socials are sure to be high on the list. Activities, meals, and Union events are key parts of the academic calendar, so there’s not a chance to get bored! And if you do, join more societies!
      This year we have awarded society medals to those that have gone above and beyond expectation. Make sure you check them out.
      There are loads of societies to choose from, take a look at our list and if you don’t see anything you like, start your own society today!</p>

      <h3>Society Medals!</h3>
      <p class="lang" key="chottolan35">Society Medals are new to De Montfort Students' Union (DSU) this year.
      We know that all of our societies are pretty awesome. We felt the need to recognise the societies who go above and beyond the call of duty in doing that little bit extra to ensure that everybody has the best possible experience during their time at DMU.
      The bronze, silver and gold medals recognise societies that have followed the correct procedures, kept the Activities department informed of what they are doing, have run well-rounded events catering to as many different people as possible and worked together with other societies amongst many other achievements</p>
      <center><img src="\socigold.png"></img><img src="\socisilver.png"></img><img src="\socinew.png"></img></center>
            .</p>
        <h3>Our Sports Clubs</h3>
        <p class="lang" key="chottolan35">Make friends for life...
        Playing sport and keeping fit is really important to us at DSU. We believe playing in sport is key, especially whilst at University. It’s a fantastic way to keep fit, meet new people and unleash your talents. You could even try something new.
        DSU has over 40 sports clubs, many of which compete in the British Universities and Colleges Sport (BUCS) leagues so take a look and get involved now. </p>
        <h3>Popular Societies!</h3>
        <p class="lang" key="chottolan35">Below you can find a wide range of different Popular Societies that might interest you, below you can choose from sports, which shows the top societies now, Academic, Cultural, Sports and General Interest,
        take a quick look and pop in after to see us to maybe talk about more.</p>
      </article>
    </main>
  </main>
  </main>
    </main>
  <section id="animegrid">
  <main class="container">
  <h1 class="lang" key="chottolan3"> Check Out Our Popular Societies</h1>
  </main>
  </section>
<br>
<main id="main-wrapper">
<main id="youtubemain">
  <main class="inner">
    <!-- genre -->
    <!-- Ive tried many different filtering ways that doesnt involve onlcik but nonseem to hand workso i had to go back to the w3school version which works find.-->
    <main class="boxes-full">
      <main id="myBtnContainer">
        <button class="btn active" onclick="filterSelection('all')"> Show All</button>
        <button class="btn" onclick="filterSelection('academic')"> Academic</button>
        <button class="btn" onclick="filterSelection('cultural')"> Cultural</button>
        <button class="btn" onclick="filterSelection('sports')"> Sports</button>
        <button class="btn" onclick="filterSelection('generalinterest')"> General Interest</button>
      </main>
    </main>
    <main class="filterwrap">
      <!-- Start 3 column Anime Filter Page -->
      <main class="row">
        <main class="genre generalinterest">
          <main class="box">
            <a class="image fit">
              <img src="\soci1.png"></img>
            </a>
            <main class="inner">
              <h3>Demon Anime</h3>
              <p class="lang" key="chottolan11">"Demon Anime is a society for fans of anime and manga - that is, Japanese animation and comic books. Whether you're new or old to the world of anime, everyone is very welcome to come along! It runs every Monday and Wednesday night throughout term.</p>
            </main>
          </main>
        </main>
        <main class="genre generalinterest">
          <main class="box">
            <a class="image fit">
              <img src="\soci2.png"></img>
            </a>
            <main class="inner">
              <h3>Game of Thrones Society</h3>
              <p class="lang" key="chottolan12">Ever watched Game of Thrones? Ever wanted to watch it? Like talking about it with other cool and interesting people and enjoying fun activities (with or without drinking)? Of course you do!
                Since "Winter is Coming" we wanna get as many people involved as possible.
                </p>
            </main>
          </main>
        </main>
        <main class="genre action generalinterest">
          <main class="box">
            <a class="image fit">
              <img src="\soci3.png"></img>
            </a>
            <main class="inner">
              <h3>DMU Harry Potter Society</h3>
              <p class="lang" key="chottolan13">Welcome to the De Montfort Students' Union's Harry Potter and Quidditch Society! If you want to get together with like minded muggles or you want to try out the best full contact, multi gender sport
                of quiudditch then we are the society for you! Join us for for regular Harry Potter themed socials, pub quizzes, scavenger hunts, fundraising events etc.  </p>
            </main>
          </main>
        </main>
        <main class="genre action generalinterest, sports">
          <main class="box">
            <a class="image fit">
              <img src="\soci4.png"></img>
            </a>
            <main class="inner">
              <h3>Demon Parkour</h3>
              <p class="lang" key="chottolan14">Our Mission
          To increase awareness, progression and safe participation of parkour in Leicester (and most importantly, have fun and train safe).
          Why this society? Professional coaches and experienced members always willing to lend a hand, both in and out of society hours. </p>
            </main>
          </main>
        </main>
        <main class="genre generalinterest">
          <main class="box">
            <a class="image fit">
              <img src="\soci5.png"></img>
            </a>
            <main class="inner">
              <h3>DMU Enactus Society</h3>
              <p class="lang" key="chottolan15">We are a society at De Montfort University and a part of a community of student, academic and business leaders committed to using the power of entrepreneurial action to transform lives and shape a better more sustainable world.
            Participation in Enactus provides university students with the opportunity to make a difference.</p>
            </main>
          </main>
        </main>
        <main class="genre sports">
          <main class="box">
            <a class="image fit">
              <img src="\soci6.png"></img>
            </a>
            <main class="inner">
              <h3>DMU E-Sports Society</h3>
              <p class="lang" key="chottolan16">We are DMU E-Sports Society! We are the largest E-Sports society in the UK supporting all types of competitive games. We focus on FPS, MOBAs, RTS, MMORPGS, etc! Our main games are League of Legends, Overwatch, Hearthstone, CS:GO,
                Rocket League, Rainbow Six Siege, PUBG, as well as a variety of multiplayer strategy games.</p>
            </main>
          </main>
        </main>
        <main class="genre action sports">
          <main class="box">
            <a class="image fit">
              <img src="\soci7.png"></img>
            </a>
            <main class="inner">
              <h3>DMU Poker Society</h3>
              <p class="lang" key="chottolan17">The De Montfort Poker Society is one of the largest and ever-growing societies with the DSU, running league nights, pub socials and many other events throughout the university year. All levels are welcome even beginners who are fresh to the game, in the opening weeks we’ll offer tuition and lessons within the game.</p>
            </main>
          </main>
        </main>
        <main class="genre sports">
          <main class="box">
            <a class="image fit">
              <img src="\soci8.png"></img>
            </a>
            <main class="inner">
              <h3>DMU Dance Society</h3>
              <p class="lang" key="chottolan18">De Montfort University Dance Society is one of the biggest societies on campus, celebrating many forms of dance. We offer a range of classes, some aimed at beginners as well as catering for the more advanced, experienced performer. There are many performance opportunities that the uni invites members to take part in. </p>
            </main>
          </main>
        </main>
        <main class="genre sports">
          <main class="box">
            <a class="image fit">
              <img src="\soci9.png"></img>
            </a>
            <main class="inner">
              <h3>DMU Chess Club</h3>
              <p class="lang" key="chottolan19">Welcome to DMU Chess Club. We believe this year will be exciting for you with the club...! We welcome all abilities, even if you don't understand the game. We have training session for beginners and we organise many events throughout the year.
                DMU Chess Club is GOLD rated and award winning society. Our weekly meetings are held every Thursday from 5pm - 7pm</p>
            </main>
          </main>
        </main>
        <main class="genre sports">
          <main class="box">
            <a class="image fit">
              <img src="\soci10.png"></img>
            </a>
            <main class="inner">
              <h3>DMU Falcons</h3>
              <p class="lang" key="chottolan20"> The Falcons Family will shape your University experience! Do you want to play a physical sport, where brains, speed and strength all combine, well join now.
                </p>
            </main>
          </main>
        </main>
        <main class="genre cultural">
          <main class="box">
            <a class="image fit">
              <img src="\soci11.png"></img>
            </a>
            <main class="inner">
              <h3>A & C Society</h3>
              <p class="lang" key="chottolan21">The DMU African & Caribbean Society, winners of 'Society of the Year' for 2011/2012. They also recently picked up winners of the 'Most Improved ACS of the year'.
                  </p>
            </main>
          </main>
        </main>
        <main class="genre cultural">
          <main class="box">
            <a class="image fit">
              <img src="\soci12.png"></img>
            </a>
            <main class="inner">
              <h3>Korean Culture Society</h3>
              <p class="lang" key="chottolan22">Here at the Korean Culture Society we aim to gather all kinds of people with various interests, both korean and non-korean related, to partake in our social-based events.   </p>
            </main>
          </main>
        </main>
        <main class="genre cultural">
          <main class="box">
            <a class="image fit">
              <img src="\soci13.png"></img>
            </a>
            <main class="inner">
              <h3>DMU Hong Kong Society</h3>
              <p class="lang" key="chottolan23">We are here, to help Hongkongers get used to UK culture and arrange activities in order to let them get involved to life in DMU and to also help Hong Kong students get used to Uni life, always support them when
                they need any needs </p>
            </main>
          </main>
        </main>
        <main class="genre cultural">
          <main class="box">
            <a class="image fit">
              <img src="\soci14.png"></img>
            </a>
            <main class="inner">
              <h3>DMU Thai Society</h3>
              <p class="lang" key="chottolan24">Welcome to the Thai Society of DMU!! If you have any inquires about this society just join us in one of our events! We welcome everyone! so please come and experience Thai culture and activities! We will have food nights with Thai food and Thai horror movies and really fun games and cultural activities.
                We are going to have field trips to festivals and a end of year trip to THAILAND!!. </p>
            </main>
          </main>
        </main>
        <main class="genre cultural">
          <main class="box">
            <a class="image fit">
              <img src="\soci15.png"></img>
            </a>
            <main class="inner">
              <h3>DMU Ghanaian Society</h3>
              <p class="lang" key="chottolan25">This society was set up to help bring you the best of Ghanaian entertainment & culture whilst also touching on prominent key challenges that we face as a minority.
                Whether you are a Ghanaian and just want to interact with your fellow Ghanaian , you just like Ghanaian food and accept that Ghanaian Jollof is the only acceptable Jollof ;) or you just want to learn more about Ghanaian culture I welcome you all . </p>
            </main>
          </main>
        </main>


        <main class="genre academic">
          <main class="box">
            <a class="image fit">
              <img src="\soci16.png"></img>
            </a>
            <main class="inner">
              <h3>DMU Criminology Society</h3>
              <p class="lang" key="chottolan26">This society is for ANYONE with an interest in criminology, law, social science, and the criminal justice system.
                We are here to make your university experience fun and informative! We plan to do this by doing socials and other fun activites.</p>
            </main>
          </main>
        </main>
        <main class="genre academic">
          <main class="box">
            <a class="image fit">
              <img src="\soci17.png"></img>
            </a>
            <main class="inner">
              <h3>DMU Law Society</h3>
              <p class="lang" key="chottolan27">The DMU Law Society is a great way to meet like minded individuals studying law throughout different year groups of the university. Although the society aids in its members
                academic studies we also organise a wide range of social events ranging from laser tag to pub crawls.</p>
            </main>
          </main>
        </main>
        <main class="genre academic">
          <main class="box">
            <a class="image fit">
              <img src="\soci18.png"></img>
            </a>
            <main class="inner">
              <h3>DMU Politics Society</h3>
              <p class="lang" key="chottolan28">Not only do we operate as one of the university's oldest functioning societies, but we also aim to be the most inclusive society at DMU bringing together like minded
                individuals who have opinions or interests on contemporary current affairs that play a crucial impact on society.</p>
            </main>
          </main>
        </main>
        <main class="genre academic">
          <main class="box">
            <a class="image fit">
              <img src="\soci19.png"></img>
            </a>
            <main class="inner">
              <h3>DMU Psychology Society</h3>
              <p class="lang" key="chottolan29">We aim to be a place where you can find academic support (especially for those who are studying Psychology and the Psychology with programmes) with revision groups at exam time and general Q&A sessions.</p>
            </main>
          </main>
        </main>
        <main class="genre academic">
          <main class="box">
            <a class="image fit">
              <img src="\soci20.png"></img>
            </a>
            <main class="inner">
              <h3>Aspiring Medics society</h3>
              <p class="lang" key="chottolan30">This society is for anyone (all faculties) who would want to do Graduate entry medicine (aspiring dentists and vets are also welcome) after completing your degree here at De Montfort University. </p>
            </main>
          </main>
        </main>

        <!--End Anime Contianer -->
      </main>

      </main>
    </main>
  </main>
</main>
</body>
</html>
